<mat-card class="example-card cardWidth">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{country.name}}</mat-card-title>
    <mat-card-subtitle> {{country.regionalBlocs[0].name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="imageUrl" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
     
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>